<div class="container-fluid bg-dark">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-info bg-dark bg-inverse pull-lg-left">
      <a class="navbar-brand" href="#"><b>HOME</b></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse text-right " id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/MarkAgimba" target="_blank"><i class="fa fa-github" aria-hidden="true"></i>GITHUB PROFILE</a>
          </li>
        </ul>


